@import '../base-colours.scss';

// Silly 95-esq theming

$border: #fff #7f787f #7f787f #fff;
$border-inv: #7f787f #fff #fff #7f787f;
$border-internal: #000 #0000 #0000 #000;

html {
    width: 1vw;
    height: 1vh;
}

body {
    position: absolute;
    left: 3em;
    right: 3em;
    top: 1em;
    bottom: 1em;

    background-color: #008080;

    border: 1px solid;
    border-color: $border;

    height: auto;
}

main {
    padding: 1px;

    gap: 5px;
    background-color: #c0c0c0;
    padding: 5px;
}

header {
    height: 18px;
    border: none;
    background-color: #000080;

    border: 1px solid #c0c0c0;

    h1 {
        font-size: 15px;
        line-height: 0;
        vertical-align: top;
    }
}

nav {
    background-color: #fff;
    border: 1px solid;
    border-color: $border-inv;

    h2 {
        border: 1px solid;
        border-color: $border-inv;
        background-color: #c0c0c0;
        color: #000;
    }

    ul {
        padding: 2px;
        border: 1px solid;
        border-color: $border-internal;

        height: 90%;

        li {
            background: none;
            border: none;
            a {
                background: none;
                border: none;

                &:hover,
                &.active {
                    background-color: #000080;
                    color: #fff;
                }
            }
        }
    }
}

footer {
    border: none;
    padding: 5px;

    color: #000;

    background-color: #c0c0c0;
}

main section.main {
    background-color: #fff;
    color: #000;

    padding: 10px;
    border: 1px solid;
    border-color: $border-inv;

    padding: 0;
}

.blog-post {
    border: 1px solid;
    border-color: $border-internal;
    margin: 0;
    padding: 0;

    padding-left: 1em;
    padding-right: 2em;

    min-height: 100%;
}