html {
	width: 100%;
	height: 100%;
}

/* Elements that might not exist in old browsers, should hopefully allow styling still applied */
/* This is mostly the semantic elements. */
header,
footer,
nav {
	display: block;
}

body {
	margin: 0;
	padding: 0;

	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;

	font-size: $font-size;
	font-family: $primary-fonts;
	color: $primary-text-colour;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;

	width: 100%;
	height: 100%;

	height: 100vh;
	width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-fonts;
	font-size: $title-font-size;
}

header {
	background-color: $primary-colour;
	color: $secondary-text-colour;

	padding: 0.5rem 1.25rem;

	overflow: hidden;
	flex: 0 0 auto;

	h1 {
		font-size: 3.33rem;

		margin: 0;
		padding: 0;

		img {
			height: 3.33rem;
			margin-right: 1.3rem;
			vertical-align: middle;
		}
	}
}

footer {
	background-color: $primary-colour;
	color: $secondary-text-colour;

	overflow: hidden;
	flex: 0 0 auto;

	padding: 0.5rem 1.25rem;

	display: flex;
	align-items: center;
	gap: 1.25rem;

	p {
		padding: 0;
		margin: 0;
		flex: 1;
	}

	a {
		color: inherit;
		background: none;
		display: flex;
		align-items: center;
		gap: .25rem;

		img {
			width: 1rem;
			height: 1rem;
		}
	}

	.copyright {
		width: 80px;
		height: 15px;
	}

	img {
		image-rendering: initial;
		-ms-interpolation-mode: initial;
	}
}

.page-container {
	display: flex;
	flex: 1 auto;

	/* We later un-set this with a universal media query.
		Platforms that support media queries will see this fine.
		Platforms that do not will see it vertical, which is more usable on their targets (i.e 3DS, DSi) */
	flex-direction: column;

	background-color: $primary-colour;

	margin: 0;
	padding: 0;
}

main {
	flex: 1 auto;
	padding: 0.2rem 1.25rem;
	border-top: $primary-border;
	border-bottom: $primary-border;
	border-left: $primary-border;

	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;

	background-color: $quaternary-colour;
	
	// Fixes large, problematic children
	// (e.g. very long code)
	max-width: 100%;
	box-sizing: border-box;

	hyphens: auto;

	img {
		max-width: 100%;
		max-height: 75vh;
	}
}


a {
	color: $link-text-colour;
	background-color: $fifth-colour;
	border-radius: .5rem;
	padding: 0 .25rem;

	&:hover {
		color: $link-text-hover-colour;
	}
}

a[href^="http"]::after,
a[href^="https"]::after {
	content: "\00F6";
	font-size: .9em;
	vertical-align: super;
}

nav {
	/* ACBOB: 3DS Support */
	/* width: 15vw;  // re-set through media query! */
	width: 100%;

	flex: 0 0 auto;

	// border-right: $primary-border;

	background-color: $primary-colour;

	display: flex;
	flex-direction: column;

	h2 {
		background-color: $primary-colour;
		color: $secondary-text-colour;
		border-bottom: $primary-border;

		height: 3rem;
		margin: 0;
		padding: 0.5rem;
		box-sizing: border-box;

		text-align: center;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: column;

		li {
			border-bottom: $primary-border;
			padding: 0;
			margin: 0;
			background-color: $tertiary-colour;

			&:hover,
			&.active {
				color: $selection-text-colour;
				background-color: $selection-colour;
			}

			a {
				display: block;
				box-sizing: border-box;
				width: 100%;
				height: 100%;

				padding: .25rem 1rem;

				color: inherit;
				text-decoration: none;
				background: none;

				&:hover {
					color: inherit;
				}
			}
		}
	}
}

#mobile-nav-toggle,
#mobile-nav-icon {
	display: none;
}

/* On platforms without @media the navigation will be above the page, which is more usable on their targets (3DS, DSi, some old phones) */
@media (min-width: 0) {
	.page-container {
		flex-direction: row;
	}

	nav {
		width: 15vw;
	}
}

@media (max-width: 1000px) {
	nav {
		width: 25vw;
	}
}

$mobilenav-padding: 5vw; // extra padding for the bounce effect
$mobilenav-pop-in-trans: cubic-bezier(0, 0.55, 0.45, 1);
$mobilenav-pop-out-trans:  cubic-bezier(0.36, 0, 0.66, -0.56);

@media (max-width: 650px) {
	.page-container {
		position: relative;
	}

	main {
		border-right: $primary-border;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	nav {
		// visibility: hidden;

		position: absolute;

		left: -(50vw + $mobilenav-padding);
		width: 50vw;
		height: 100%;
		z-index: 1;


		box-shadow: 0 0 .2rem #0000;

		border-right: $primary-border;

		transition: left 250ms, box-shadow 300ms;
		transition-timing-function: $mobilenav-pop-out-trans;
		padding-left: $mobilenav-padding;
	}

	header h1 {
		font-size: 1.665rem;
	}

	.mobile-hidden {
		display: none;
	}

	#mobile-nav-toggle {
		&:checked {
			&~nav {
				// width: 50vw;
				// visibility: visible;
				left: -$mobilenav-padding;
				transition-timing-function: $mobilenav-pop-in-trans;

				box-shadow: 1rem 0 .5rem -.5rem #0004;
			}

			&~#mobile-nav-icon {
				left: 50vw;
				transition-timing-function: $mobilenav-pop-in-trans;
			}
		}
	}

	#mobile-nav-icon {
		display: block;
		position: absolute;
		margin: 0;
		padding: .25rem;
		border-bottom-right-radius: 1rem;

		z-index: 500;

		background-color: $primary-colour;

		border-right: $primary-border;
		border-bottom: $primary-border;

		width: 1.5rem;
		height: 1.5rem;

		transition: left 250ms;
		transition-timing-function: $mobilenav-pop-out-trans;
		left: 0vw;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

@import 'codeblock.scss';

// Navigation Icons
.navico {
	display: inline-block;
	vertical-align: middle;

	width: 2.5rem;
	height: 2.5rem;

	background: url('/img/navs.gif') top left no-repeat;
	background-size: 600% 200%; // resolution independent, image is 6x2

	margin-right: .25rem;

	filter: drop-shadow(.2ex .2ex .05ex #0003);
}

#navico-home {
	background-position: 20% 0;
}
#navico-projects {
	background-position: 0 100%;
}

#navico-experiment {
	background-position: 100% 0;
}

#navico-todo-list {
	background-position: 40% 0;
}

#navico-about {
	background-position: 60% 0;
}

#navico-comics {
	background-position: 80% 0;
}