/* Colours */
$primary-colour: #4c5844;
$secondary-colour: #5a6a50;
$tertiary-colour: #889180;
$quaternary-colour: #99a291;
$fifth-colour: #9ea29b;

$scrollbar-colour: $tertiary-colour $primary-colour;

$primary-text-colour: #27212c;
$secondary-text-colour: #d8ded3;
$selection-text-colour: #fff;
$link-text-colour: #007;
$link-text-hover-colour: #00f;

$selection-colour: #6d6325;

/* etc. */
$primary-fonts: 'Ubuntu', 'Arial', sans-serif;
$monospace-fonts: 'Fira Code', 'Fira Mono', monospace;
$monospace-display-fonts: 'Comic Mono', 'Comic Code', $monospace-fonts;
$title-fonts: 'Monsterrat';
$font-size: 13pt;
$title-font-size: 20pt;

$primary-border: .15rem solid #000;
$secondary-border: 1px solid #787;

//Writing stuff

$blog-fonts: 'Roboto Slab', serif;
$blog-seperator-border: 3px double #000;