main {
	position: relative;
	overflow: hidden;

	padding-bottom: 2rem;
	font-family: $blog-fonts;
}

.blog-post {
	width: 75%;
	margin: auto;
	
	.meta {
		margin: 0;
		padding: 0;
		
		display: flex;
		align-items: center;
		
		:nth-child(1) {
			flex: 1;
			margin: 0;
		}
	}
	
	.tags {
		list-style-type: none;
		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: row;
		
		margin-bottom: 1rem;
	}

	img {
		width: 100%;
		max-height: 50vh;
		object-fit: contain;
		object-position: center;
	}
	
	// not proud of these, make them even more apparently not good:tm:
	&.preview.archive {
		opacity: 0.5;
		
		transition-duration: 250ms;
		
		&:hover {
			opacity: 1;
		}
	}
	
	&.archive .notice {
		font-size: 120%;
		width: 80%;
		
		background-color: rgba($selection-colour, 0.25);
		border-color: $selection-colour;
		
		box-shadow: 0 .2rem .3rem #0005;
	}
}
	
.pagination {
	background-color: $primary-colour;
	margin: -0.2rem -1.25rem;
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	bottom: 0;

	width: 100%;

	border-top: $primary-border;

	color: $secondary-text-colour;
}

.notice {
	border: $primary-border;
	padding: 1.5rem;
	border-radius: 1rem;
	width: 75%;
	margin: auto;
}

blockquote {
	margin: 0;
	margin-left: 1.5rem;
	margin-right: 3rem;
	
	padding-left: 1.5rem;
	padding-top: .15rem;
	padding-bottom: .15rem;
	
	position: relative;
	
	background-color: rgba($selection-colour, 0.15);
	border-radius: .25rem;
	
	&::before {
		content: ' ';
		display: block;
		background: $selection-colour;
		
		top: 0.5rem;
		bottom: 0.5rem;
		
		left: 0.5rem;
		position: absolute;
		
		width: .5rem;
		border-top-right-radius: .5rem;
		border-bottom-right-radius: .5rem;
	}
}

.spoiler {
	color: transparent;
	border: .1rem $primary-text-colour solid;
	
	display: inline-block;
	
	&:hover {
		color: inherit;
		border-color: rgba($primary-text-colour, 0.25);
		
		transition-duration: 0.25s;
	}
}

@media (max-width: 650px) {
	.blog-post {
		margin: 0;
		width: 100%;
		
		.meta {
			// We remove 15vw to fit the hamburger.
			width: calc(100% - 15vw);
			margin: auto;
			
			flex-direction: column;
			gap: 0;
		}
	}
}