code,
.hll {
	font-family: $monospace-fonts;
	font-size: 100%;
	background-color: $primary-colour;
	color: $secondary-text-colour;
	padding: .5em;

	border: $primary-border;

	border-radius: .5em; // Ooh, I know, Curves are growing on me...
	
	max-width: 100%;
	box-sizing: border-box;

	// allow for line-breaks
	white-space: pre-wrap;
	word-wrap: break-word;
	display: block;

	overflow-x: auto;
	
	max-width: 100%;
	box-sizing: border-box;
}

/*
	Made up a new palette here, base colours
	
	- #5BCEFA - BLUE, TRANS FLAG
	- #F5A9B8 - PINK, TRANS FLAG
	- #FFF8E7 - COSMIC MILKSHAKE, SQUONKER
	- #FAE458 - ACTUATOR'S LUNCH, SQUONKER
	- #B386FF - ETTU PRUPEL, SQUONKER
	- #000000 - BLACK, DEEP SPACE
*/

$transblue: #5BCEFA;
$transpink: #F5A9B8;
$cosmic-milkshake: #FFF8E7;
$actuators-lunch: #FAE458;
$ettu-prupel: #B386FF;
$black: #000000;


$string: $actuators-lunch;

$keyword: $transpink;
$keyword-lit: adjust-color($color: $keyword, $hue: -15);

$keyword-lang: $transblue;
$keyword-type: adjust-color($color: $keyword-lang, $lightness: -15);
$number: adjust-color($color: $keyword-lang, $saturation: 20, $lightness: 10);

$comment: adjust-color($color: $ettu-prupel, $alpha: 0.5, $saturation: -50);

// This is probably bad practice, but this is how we get our own
// styling. I grabbed a pre-generated pygments sheet to edit by hand.
// https://pygments.org/docs/tokens/ - Further docs on tokens
.hll {
	position: relative;
	
	&:hover {
		.copy-button {
			opacity: 0.75;
		}
	}
	
	// The JS copy button
	.copy-button {
		position: absolute;
		top: .25rem;
		right: .25rem;
		
		width: 2rem;
		height: 2rem;
		
		border: none;
		background: url('/img/pagie-copy.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		
		cursor: pointer;
		
		opacity: 0.25;
		transition-duration: .25s;
		&:hover {
			opacity: 1;
			
			filter: drop-shadow(0 0 1.5rem #fff);
		}
	}
	
	background-color: $black;
	box-shadow: 0 .2rem .7rem #0007;
	
	color: $cosmic-milkshake;
	
	cursor: text;
	
	width: 100em;
	width: 100ch; // 100 width of zero, 100 columns
	margin: auto;
	
	::selection,
	::-moz-selection {
		background-color: $transpink;
		color: $black;
	}

	/* Operator, Punctuation? */
	.o, .p {
		opacity: 0.75
	}
	
	/* Comment, (Multiline, Single, Special), Name.Label */
	.c, .cm, .c1, .nl {
		color: $comment;
		font-family: $monospace-display-fonts;
		font-style: italic;
	}

	/* Comment.Special, Name.Label */
	.cs {
		font-weight: bold;
	}


	/* Comment.Hashbang */
	.ch {
		color: $keyword-lang;
		font-style: italic;
		font-weight: bold;
	}

	/* Comment.Preproc */
	.cp {
		color: $keyword-lang;
		font-style: italic;
		font-weight: bold;
	}
	
	/* Comment.PreprocFile */
	.cpf {
		color: $string;
	}
	/* Error */
	.err {
		border: 1px solid #FF0000
	}
	
	/* Keyword, (Declaration, Namespace, Pseudo, Reserved), Literal.String.Affix, Operator.Word, Name.Attribute */
	.k, .kd, .kn, .kp, .kr, .sa, .ow, .na {
		color: $keyword;
		font-weight: bold
	}
	
	/* Literal.String.Regex, Name.Constant, (Entity, Variable.Magic) */
	.sr, .nc, .ni, .vm, .fm {
		color: $keyword-lit;
		font-weight: bold
	}
	
	/* Keyword.Constant */
	.kc {
		color: $keyword-lang;
		font-weight: bold
	}

	/* Keyword.Type, Name.Namespace, (Tag) */
	.kt, .nn, .nt {
		color: $keyword-type;
		font-weight: bold
	}

	/* Literal.Number, (Bin, Float, Hex, Integer, Octal, Long Integer) */
	.m, .mb, .mf, .mh, .mi, .mo, .il {
		color: $number;
	}

	/* Literal.String, (Char, Backtick, Double, Single, Delimiter) */
	.s, .sc, .sb, .s2, .s1, .dl {
		color: $string
	}
	
	/* Literal.String.Doc, (Heredoc, Interpol, Other) */
	.sd, .sh, .si, .sx {
		color: $string;
		font-weight: bold;
	}
	

	/* Literal.String.Escape */
	.se {
		color: $cosmic-milkshake;
	}

	/* Name.Decorator */
	.nd {
		color: $keyword-lang;
		font-style: italic;
	}
}