/* Halloween Colours, spooky! */
$primary-colour: #b15600;
$secondary-colour: #d56700;
$tertiary-colour: #2b210e;
$quaternary-colour: #000000;
$fifth-colour: transparent;

$scrollbar-colour: $tertiary-colour $primary-colour;

$primary-text-colour: #b76bf5;
$secondary-text-colour: #ffffff;
$selection-text-colour: #000000;
$link-text-colour: #ff7d00;
$link-text-hover-colour: #f1c776;

$selection-colour: #ffdd00;

/* etc. */
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
$primary-fonts: 'Ubuntu', 'Arial', sans-serif;
$monospace-fonts: 'Fira Code', 'Fira Mono', monospace;
$title-fonts: 'Frijole';
$font-size: 13pt;
$title-font-size: 20pt;

$primary-border: .15rem solid #ff7d00;
$secondary-border: 1px solid #787;

//Writing stuff

$blog-fonts: 'Roboto Slab', serif;
$blog-seperator-border: 3px double #000;