@import 'base-colours.scss';

@keyframes pushOutAtLoad {
	0% {
		box-shadow: darken($primary-colour, 2%) 0 .2em 0 0;
		background-color: darken($secondary-colour, 2%);
		transform: translateY(.2em);
	}

	100% {
		background-color: $secondary-colour;
		box-shadow: $primary-colour 0 .4em 0 0;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

main {
	padding-top: 1em;
	padding-bottom: 1em;

	display: flex;
	justify-content: center;

	position: relative;
}

article.page-content {
	width: min-content;
	margin: auto;

	padding: 1em;

	background-color: $tertiary-colour;
	border: $primary-border;

	height: min-content;

	border-radius: 1em;

	min-width: 640px;
	// min-height: 480px;

	img {
		border-radius: 1em;
		width: 100%;

		animation: 500ms ease-out 0s 1 fadeIn;
		animation-timing-function: ease-out;
		opacity: 0;
		animation-fill-mode: forwards;

		filter: drop-shadow(.15rem 0 #000) drop-shadow(-.15rem 0 #000)
				drop-shadow(0 .15rem #000) drop-shadow(0 -.15rem #000);
		margin: .15rem;

		&:nth-child(2) {
			animation-delay: 500ms;
		}

		&:nth-child(3) {
			animation-delay: 1000ms;
		}

		&:nth-child(4) {
			animation-delay: 1500ms;
		}
	}
}

.comic-choices {
	list-style-type: none;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	justify-items: stretch;

	width: 100%;

	gap: 1em;

	a {
		display: block;
		padding: .4em;
		text-decoration: none;
		border-radius: .5em;
		color: $secondary-text-colour;

		width: 100%;

		text-align: center;

		font-size: 150%;

		background-color: $secondary-colour;
		box-shadow: $primary-colour 0 .4em 0 0;
		margin: 0 0 .4em 0;


		animation: 250ms ease-out 0s 1 pushOutAtLoad;
		transition-duration: 250ms;

		// No text selection for you
		user-select: none;


		// Elastic
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

		&:hover {
			box-shadow: darken($primary-colour, 2%) 0 .2em 0 0;
			background-color: darken($secondary-colour, 2%);
			transform: translateY(.2em);
		}

		&:active {
			box-shadow: none;

			background-color: $primary-colour;

			transform: translateY(.4em);
		}

		outline: 0 solid $primary-text-colour;

		&:focus-visible {
			outline: .25em solid $primary-text-colour;
		}
	}

}

#oldbtn,
#newbtn {
	display: block;
	position: absolute;
	top: 1em;
	left: 1em;
	width: 3em;
	height: 3em;

	a {
		display: block;
		width: 100%;
		height: 100%;
		background: none;
		background-image: url('/stopwatch.png');
		background-size: contain;
		padding: 0;
	}
}

#newbtn a {
	background-image: url('/capacitor.png');
}

$sticky-note: #d8d8a5;

.pinned-comic {
	background:  $sticky-note;
	border: $primary-border;
	color: #000;

	width: 25rem;
	height: 25rem;

	padding: .5rem;
	box-sizing: border-box;

	a {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;

		background: none;
		color: inherit;
		text-decoration: none;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		gap: 0;

		img {
			width: 100%;
			max-height: 100%;
			min-height: 0;

			flex: 0 1 auto;
			object-fit: cover;
		}

		h1 {
			font-family: cursive;
			justify-self: flex-end;
		}
	}

	&:nth-child(odd) {
		transform: rotateZ(2deg);
	}

	&:nth-child(even) {
		transform: rotateZ(-2deg);
	}

	&:hover {
		transform: rotateZ(0);
		cursor: pointer;
	}

	border-radius: 1rem;

	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease-out;

	&::after {
		content: ' ';
		width: 20%;
		height: 20%;

		position: absolute;
		top: -1%;
		left: -1%;

		// clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
		background: lighten($sticky-note, 15%);
		border-radius: 0 0 2rem 0;

		filter: drop-shadow(.3rem .3rem .1rem #0002);
		border: $primary-border;
	}

	clip-path: polygon(20% 0, 120% 0, 120% 120%, 0 120%, 0 20%);

	box-shadow: #0005 .5rem .5rem;
}

.comics {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 1200px) {
	.pinned-comic {
		width: 20rem;
		height: 20rem;
	}

	.comics {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 650px) {

	#oldbtn,
	#newbtn {
		right: 1em;
		left: unset;
	}

	article.page-content {
		min-width: 0;
		min-height: 0;
		width: 100%;

		.comic-choices {
			flex-direction: column;
		}
	}

	.comics {
		display: flex;
		flex-direction: column;
	}
}