@import 'base-colours.scss';

main {
	display: flex;
	align-items: center;
	justify-content: center;

	h2 {
		font-size: 20rem;
		margin: 0;
		text-align: center;
	}

	font-size: 2rem;
	margin: 0;
	text-align: center;
}