@import 'base-colours.scss';

html {
	font-family: $primary-fonts;
	color: $primary-text-colour;
}

body {
	background-color: $tertiary-colour;
	
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	min-height: 100vh;
	width: 100vw;
	
	display: flex;
	
	align-items: center;
}

h1 {
	margin: 0;
}

canvas {
	object-fit: contain;
	width: 75vw;
	height: 70vh;
	flex-shrink: 0;
}

.controls {
	border: $primary-border;
	padding: 2rem;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	flex: 1;
	
	height: 100vh;
	box-sizing: border-box;
	
	div:first-child {
		grid-column: 1/3;
	}
	
	input[type="text"] {
		grid-column: 1 / 3;
		

		background-color: $quaternary-colour;
		border: $primary-border;
		padding: 0.5rem;
		border-radius: 1rem;
		text-align: center;
	}
}

@media (max-width: 1000px) {
	body {
		flex-direction: column;
	}
	
	.controls {
		height: auto;
		width: 100vw;
	}
}