// Stylesheet built to try and aide Internet Explorer platforms;
// tested on IE8 at some point, and IE5.
// Yep. It does its' job, for the most part.

@import 'base-colours.scss';

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 1.5rem;

	background-color: $primary-colour;
	color: $secondary-text-colour;

	-ms-interpolation-mode: nearest-neighbor;

	font-family: $primary-fonts;

	height: 100%;
	width: 100%;
	position: absolute;
}