// Graphic design
$primary-fonts: "Comic Sans MS", "Comic Sans", "Comic Neue", cursive;
// If InsideOutside (the jerma font) is installed, we use it. else, we just use our regular fonts.
// Maybe only Me & Jerma will view it as intended, with possibly the jerma wiki admin.
// As is the way of web design!
$focus-fonts: "InsideOutside", $primary-fonts;
$monospace-fonts: 'Cousine', 'Courier New', monospace;

$font-small: 12px;
$font-reg: 24px;
$font-big: 42px;

body {
	background-image: url("/img/jerma/jerma2.png");
	font-family: $primary-fonts;

	color: blue;
	font-weight: 750;

	font-size: $font-reg;
}

p,
h1,
ul,
h2 {
	background-color: #fff9;
}

h1 {
	font-family: $focus-fonts;
	font-size: $font-big;
}

.container {
	background-image: url("/img/jerma/jerma1.png");
	border: 5px solid #000;
	padding: 2%;
	margin: 2em;

	border-radius: 25px;

	position: relative; // for go-to-bottom
}

// animated speen
@keyframes speen-y {
	from {
		transform: rotateY(0)
	}

	to {
		transform: rotateY(360deg)
	}
}

@keyframes speen-z {
	from {
		transform: rotateZ(0)
	}

	to {
		transform: rotateZ(360deg)
	}
}

.speen {
	animation: 3s linear infinite speen-y;
}

.spoon {
	animation: 0.5s linear infinite speen-z;
}

.subtle-shadow {
	filter: drop-shadow(16px 16px 10px #0007);
}

.sensible-img-size {
	width: 128px;
	height: 128px;
}

// We add the extra 30px to stop it from making the browser add scrollbars randomly
.go-to-bottom {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

@keyframes pulse {
	from {
		font-size: $font-small;
	}

	to {
		font-size: $font-reg;
	}
}

.moji {
	animation: 0.5s linear infinite pulse alternate;
}