@import 'base-colours.scss';

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

html {
	font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", cursive;
	color: $primary-text-colour;
	font-size: $font-size;

	background-color: black;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

body {
	background-color: $tertiary-colour;

	padding: 1rem;

	display: flex;
	flex-direction: column;
	height: 45%;
	width: 50%;

	box-sizing: border-box;

	border-radius: 2rem;
}

h1 {
	text-align: center;
	font-size: 350%;
	margin: 0;
}

#output {
	text-align: center;
	font-size: 125%;
}

.controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: .25rem;
}

.spacetime {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	z-index: -5;
}

@media (max-width: 650px) {
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: 0;

		background: none;
	}

	html {
		background: $tertiary-colour;
	}

	#output {
		flex: 1;
	}

	.controls {
		line-height: 350%;

		input,
		select {
			text-align: center;
		}

		padding-bottom: 15vh;
	}

	.spacetime {
		display: none;
	}
}