// Print stylesheet, again

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 13pt;
	line-height: 1.3;
}

footer,
nav,
#mobile-nav-toggle,
#mobile-nav-icon {
	display: none;
}

header img {
	display: none;
}

img {
	width: 100%;
	object-fit: contain;
	object-position: center center;
	page-break-inside: avoid;
}

a:link,
a:visited,
a {
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	page-break-inside: avoid
}

a[href^=http]:after {
	content: " <" attr(href) "> ";
}

article a[href^="#"]:after {
	content: "";
}

a:not(:local-link):after {
	content: " < " attr(href) "> ";
}