// A doozy.

// Animate the background to move slowly.
// It should appear to move infinitely down and slightly right.
@keyframes backgroundPan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 50em 100em;
    }
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;

    background-color: #062d50;

    background-size: 50em;

    background-image: url('/img/vent/noise-bg.png');
    background-repeat: repeat;
    background-attachment: fixed;

    animation: backgroundPan infinite 20s linear forwards;

    margin: 0;

    font-size: 16pt;
    font-family: 'Fantasque Sans Mono', monospace;

    // It's pixelart, so disable image smoothing.
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: crisp-edges;
}

::selection,
::-moz-selection {
    background-color: #ffa978;
    color: #062d50;
}

main {
    max-width: 60%;
    height: 100%;
    background-color: #000;
    color: #fff;

    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 4em;
}

.image-holder {
    figure {
        img {
            width: 100%;
            max-height: 512px;

            object-position: center;
            object-fit: contain;

            margin-bottom: .2em;
        }

        margin-bottom: 1em;

        background-color: #fff5;
        border-radius: 0.5em;

        figcaption {
            font-size: .8em;
            text-align: center;
            border-top: 2px solid #fff5;
            border-radius: .5em;
            padding: .5em;
        }

        figcaption::selection,
        figcaption::-moz-selection {
            background-color: #fff5;
            color: #000;
        }

        padding: .5em;
    }
}

#right {
    background-image: url('/img/vent/right-side.png');
    height: 100%;

    flex: 1;

    background-repeat: repeat-y;
    background-position: left;

    background-size: 12em;
}

#left {
    background-image: url('/img/vent/left-side.png');
    height: 100%;

    flex: 1;

    background-repeat: repeat-y;
    background-position: right;

    background-size: 12em;
}