{% from "macros/blogmeta.html" import render_meta %}
{% macro render_blog_post(post, from_index=false) %}
	{% if from_index %}
	<article class="blog-post preview {{ post.tags|join(' ') }}">
		<div class="meta">
		<h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
	{% else %}
	<article class="blog-post {{ post.tags|join(' ') }}">
		<div class="meta">
		<h2 class="title">{{ post.title }}</h2>
	{% endif %}
			<p>
				{{ render_meta(post) }}
			</p>
		</div> {# META #}
	
		<ul class="tags">
			{% for tag in post.tags|sort %}
			<li>
				<a href="{{ ('/blog@tag/' ~ tag)|url }}">#{{ tag }}</a>
			</li>
			{% endfor %}
		</ul>
		
		{% if from_index %}
			<p>{{ post.descriptor }}</p>
		{% else %}
			{{ post.body }}
		{% endif %}
	</article>
{% endmacro %}
