/* palette

#FFADB9
#202C39
#283845
#058C42
#16DB65

*/

$bg: #189bcc;
$fg: #17170d;
$foc: #16DB65;

$shadow-dark: darken($bg, 10%);
$shadow-light: lighten($bg, 10%);

$shadow-out: .5rem .5rem 1.5rem $shadow-dark,
             -.5rem -.5rem 1.5rem $shadow-light;

$shadow-in: .5rem .5rem 1rem $shadow-light,
            -.5rem -.5rem 1rem $shadow-dark,
            .25rem .25rem .5rem $shadow-dark inset;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: 650;

    background: url('/experiment/kinkly/noiz.png'), url('/experiment/kinkly/weezing.png'), $bg;
    background-size: auto auto, auto 100vh;
    background-repeat: repeat, no-repeat;
    background-attachment: local, fixed;
    background-position: center bottom;
}

body {
    color: $fg;

    width: 90%;
    margin: auto;
    padding: 2rem .5rem;
}

h1, h2 {
    margin: 0;
}

button, input[type=submit] {
    background-color: $bg;
    border-radius: 5rem;

    border: none;

    color: $fg;

    box-shadow: $shadow-out,
        .5rem .5rem 2rem $shadow-light inset,
        -.5rem -.5rem 2rem $shadow-dark inset;

    padding: .5rem;

    cursor: pointer;

    width: 70%;
    display: block;
    margin: 2rem auto;
    font-weight: bold;
    font-size: 125%;

    &:active {
        box-shadow: $shadow-out,
                .25rem .25rem 1rem $shadow-dark inset,
                -.5rem -.5rem 2rem $shadow-light inset;
    }
}

#questions {
    border-radius: 5rem;
    padding: 2.5rem 5rem;

    li {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        p {
            margin: 0;
            position: relative;
            z-index: 1;
        }

        .rating {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;

            width: 100%;
            justify-content: space-between;

            background: linear-gradient(to right, red, orange, yellow, green);
            border: .1rem solid $bg;
            box-shadow: $shadow-out, 0 0 .25rem #000e inset;
            border-radius: 1rem;
            height: 1rem;
            padding: .25rem;

            li {
                height: 100%;
                width: 100%;
            }
        }
    }

    display: flex;
    flex-direction: column;
    box-shadow: $shadow-in;

    gap: 2rem;
}

#resultPercents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
    margin: 0;
    padding: 0;

    li {
        p {
            margin: 0;
            position: relative;
            z-index: 1;
        }

        progress {
            width: 100%;
            height: 1rem;

            background: $bg;

            box-shadow: $shadow-out;
            border-radius: 1rem;

            // https://codyhouse.co/nuggets/css-gradient-borders
            border: .1rem solid transparent;
            background: linear-gradient(to right, $bg, $bg) padding-box,
                        linear-gradient(to top, darken($foc, 5%), lighten($foc, 5%)) border-box;

            &::-moz-progress-bar {
                background: linear-gradient(to top, darken($foc, 5%), lighten($foc, 5%));
            }
        }

        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

input[type=radio] {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}