/* Colours */
/* Going for a 1-bit style here */
$primary-colour: #222323;
$secondary-colour: #f0f6f0;

/* Regrettable, but necessary */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

/* etc. */
$primary-fonts: 'DejaVu Sans', 'Arial', sans-serif;
$monospace-fonts: 'Cousine', 'Courier New', monospace;

body {
	margin: 0;
	padding: 0;

	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;

	font-size: 16pt;
	font-family: $primary-fonts;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;

	background-color: $primary-colour;
	color: $secondary-colour;
}

main {
	color: $primary-colour;
	background-color: $secondary-colour;
	width: 90%;
	height: 90%;

	padding: 4rem;
	box-sizing: border-box;
	border-radius: 2rem;

	position: relative;
}

h1 {
	font-family: 'Mountains of Christmas', cursive;
	font-size: 600%;
	text-align: center;
	margin: 0;
}

.pitcher {
	position: absolute;
	right: 10px;
	bottom: 10px;
	opacity: 0.75;
	pointer-events: none;
}

table {
	border: 3px double $primary-colour;
	border-collapse: collapse;
	width: 70%;
}

table tr {
	border: 3px double $primary-colour;
}

table tr td,
table tr th {
	border: 3px double $primary-colour;
	padding: 0.5rem;
}

button {
	border: 3px double $primary-colour;
	background-color: $secondary-colour;
	padding: 0.5rem;
	margin: .1em 0;
	font-size: 1.5rem;
	font-family: $monospace-fonts;
	width: 70%;
	cursor: pointer;
}