{% extends "layout.html" %}
{% block replacecss %}
<!--[if !IE]>-->
<link rel="stylesheet" href="{{ '/css/blog.css'|url }}" media="screen"/>
<!--<![endif]-->
<!--[if IE]>
<link rel="stylesheet" href="{{ '/css/iexplorer.css'|url }}" media="screen"/>
<![endif]-->
{% endblock %}
{% block subcategory %} - Blog {% endblock %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
    {% if not loop.last %}
	    <hr class="blog-seperator"></hr>
    {% endif %}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %}
