{% extends "layout.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ '/css/comic.css'|url }}" />
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{# cover #}
<article class="page-content">
	<img src="{{ this.cover }}">

	{{ this.body }}

	{% if this.children %}
	<ul class="comic-choices">
		<a href="{{ this.children.order_by('page_number', '_id').first()|url }}">
			<li>Open the cover</li>
		</a>
	</ul>
	{% endif %}

</article>

{# Hack to keep the nice time machine effect for QWC exclusively #}
{% if this.path == '/comics/qwc' or this.path == '/comics/qwc-old' %}
{% if this.path == '/comics/qwc' %}
<div id="oldbtn" title="Click here to go back in time and view the original, old comic!"><a href="/comics/qwc-old/"></a>
</div>
{% else %}
<div id="newbtn" title="Click here to go Back to the Future and view the current version of the comic!"><a
		href="/comics/qwc/"></a></div>
{% endif %}
{% endif %}
{% endblock %}