{% extends "layout.html" %}

{% block extracss %}
	<link rel="stylesheet" href="{{ '/css/comic.css'|url }}"/>
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{# cover #}
<div class="comics">
    {% for comic in this.children.order_by('-release_date') %}
    {% if comic.release_date %}
        <article class="pinned-comic">
            <a href="{{ comic|url }}">
                <img src="{{ comic.path }}/{{ comic.cover }}">
                <h1>{{ comic.title }}</h1>
            </a>
        </article>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}