{% extends "comic-cover.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
	<article class="page-content">
		{% for img in this.images %}
			{% if img[0] == '/' %}
				<img src="{{ img }}">
			{% else %}
				<img src="{{ this.parent.path }}/{{ img }}">
			{% endif %}
		{% endfor %}

		{{ this.body }}

		<ul class="comic-choices">
			{% if this.has_next() %}
				{% set next = this.get_siblings().next_page %}
			{% else %}
				{% set next = '#' %}
			{% endif %}
			{% for text in this.advance %}
				<a href="{{ next|url }}"><li>{{ text }}</li></a>
			{% endfor %}
		</ul>

	</article>
{% endblock %}
