<!DOCTYPE html>
<html>

	<head>
		<style>
			body {
				margin: 2% 5%;
				width: 30%;
				image-rendering: crisp-edges;
				-ms-interpolation-mode: nearest-neighbor;
				font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				box-sizing: border-box;

				overflow-x: hidden;
			}
			hr {
				margin: 0;
			}
			img {
				width: 1.5em;
				vertical-align: middle;
			}

			@media (max-width: 1200px) {
				body {
					width: 60%;
				}
			}

			@media (max-width: 900px) {
				body {
					width: 90%;
				}
			}
		</style>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>ACBob's ZimZam - {{ this.title }}</title>

		<meta name="title" content="ACBob's ZimZam - {{ this.title }}" />
		<meta name="description" content="Whoops!" />

	</head>

	<body>
		<h1><img aria-hidden="true" alt="" src="/img/pagie.png"> This page cannot be found.</h1>
		<p>The page you are looking for might have been removed, had its name changed, or simply never did exist.</p>

		<hr>

		<p>Please try the following:</p>
		<ul>
			<li>If you typed the page address in the Address bar, make sure that it was spelled correctly.</li>
			<li>Check out <a href="/">the homepage</a>, and then look for a navigable path to the expected content.</li>
			<li>Click the <a href="javascript:history.back()">Back</a> button to try another link.</li>
		</ul>

		<p>HTTP {{ this.title }} - {{ this.body }}</p>
	</body>
</html>
