{% from "macros/blogmeta.html" import render_meta %}
{% from "macros/ieworkaround.html" import ie_escape, ie_close %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="title" content="ACBob's ZimZam - {{ this.title }}" />
{% if not this.descriptor %}
<meta name="description" content="A cool page on ACBob's ZimZam!" />
{% else %}
<meta name="description" content="{{ this.descriptor }} &#9657; {{ render_meta(this) }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block replacecss %}
<!--[if !IE]>-->
<link rel="stylesheet" href="{{ '/css/style.css'|url }}" media="screen" />
<!--<![endif]-->
<!--[if IE]>
		<link rel="stylesheet" href="{{ '/css/iexplorer.css'|url }}" media="screen"/>
		<![endif]-->
{% endblock %}
<link rel="stylesheet" href="{{ '/css/print.css'|url }}" media="print" />
<!--[if !IE]>-->
<script src="/script/code-copy.js"></script>
<!--<![endif]-->
{% if this.extracss %}
<link rel="stylesheet" href="{{ this.extracss|url }}" media="screen" />
{% endif %}
{% block extracss %}{% endblock %}
<title>{% block title %}{% endblock %} — ACBob's ZimZam</title>

<body>
	<header>
		<h1><img src="/Jim.png" alt="" aria-hidden="true">ACBob's ZimZam {% block subcategory %}{% endblock %}</h1>
	</header>
	<div class="page-container">
		<input type="checkbox" id="mobile-nav-toggle" />
		<label for="mobile-nav-toggle" id="mobile-nav-icon">
			<img src="/img/hamburger.png" alt="=">
		</label>
		<nav>
			<h2>Navigation</h2>
			<ul>
				{# Root #}
				<li {% if this._path=='/' %} class="active" {% endif %}>
					<a href="{{ '/'|url }}" {% if this._path=='/' %}class="active" {% endif %}>
						<div class="navico" id="navico-home"></div>
						Welcome
					</a>
				</li>
				{# Looped other nav #}
				{% for href, title in bag('global-navigation').items() %}
				<li {% if this.is_child_of(href) %} class="active" {% endif %}>
					<a href="{{ href }}" {% if this.is_child_of(href) %} class="active" {% endif %}>
						<div class="navico" id="navico-{{ href[1:-1] }}"></div>
						{{ title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		<main>
			{% block body %}{% endblock %}
		</main>
	</div>
	<footer>
		<p class="mobile-hidden">&copy; ACBob, CC-BY-SA-4.0.</p>
		<p><a href="/rss.xml"><img src="/rss.png" alt="">Subscribe to the RSS feed!</a></p>
		<img class="copyright" alt="CC-BY-SA 4.0" src="/img/by-nc-sa.png">
		<img class="mobile-hidden button" alt="" src="/img/firefox_badge.png">
		<img class="mobile-hidden button" alt="" src="/img/button.png">
	</footer>
</body>

</html>