{% extends "layout.html" %}
{% block replacecss %}
<!--[if !IE]>-->
<link rel="stylesheet" href="{{ '/css/blog.css'|url }}" media="screen"/>
<!--<![endif]-->
<!--[if IE]>
<link rel="stylesheet" href="{{ '/css/iexplorer.css'|url }}" media="screen"/>
<![endif]-->
{% endblock %}
{% block subcategory %} - Blog '{{ this.tag }}' {% endblock %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}Tagged {{ this.tag }}{% endblock %}
{% block body %}
  {% for child in this.items %}
    {{ render_blog_post(child, from_index=true) }}
    {% if not loop.last %}
	    <hr class="blog-seperator"></hr>
    {% endif %}
  {% endfor %}
{% endblock %}
